{% extends 'base.html' %}
 <!--Modificar o borra el post-->
{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!--1er foma-->
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <!--2da forma-->
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}

<!--2 formas:
    1) Publica los datos editados en la página actual (/<id>/update).
    2) Contiene sólo un botón y especifica un atributo action que envía a la vista de borrado (El botón utiliza algo de JavaScript para mostrar un diálogo de confirmación antes de enviarlo)-->